<div class="table-responsive" *ngIf="!isMobile">
<p-table
  [value]="gastos"
  selectionMode="single"
  [(selection)]="selectedGasto"
  (onRowSelect)="onRowSelect($event)"
  (onRowUnselect)="onRowUnselect($event)"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Fecha</th>
      <th>Pagador</th>
      <th>Titulo</th>
      <th>Categoria</th>
      <th>Valor</th>
      <th>Repartido entre</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-gasto>
    <tr [pSelectableRow]="gasto">
      <td>{{ gasto.id }}</td>
      <td>{{ gasto.fecha | date : "dd/MM/YYYY" }}</td>
      <td>{{ gasto.pagador | pagadorNombre }}</td>
      <td>{{ gasto.titulo }}</td>
      <td>{{ gasto.categoria | categoryName }}</td>
      <td>{{ gasto.valor | currency  : '$ ' }}</td>
      <td>{{ gasto.repartirentre | pagadorNombre }}</td>
    </tr>
  </ng-template>
</p-table>
</div>

<!-- Tarjetas visibles solo en móviles -->
<div *ngIf="isMobile">
  <div class="card" *ngFor="let gasto of gastos">
    <div class="card-body">
      <h3 class="card-title">{{ gasto.categoria | categoryName }} - {{ gasto.titulo }}</h3>
      <div class="flex-row">
        <p class="card-text">Monto: {{ gasto.valor | currency: '$ '}}</p>
        <p class="card-text">Fecha: {{ gasto.fecha | date: "dd/MM/YYYY" }}</p>
      </div>
      <div class="flex-row">
        <p class="card-text">Pagador: {{ gasto.pagador | pagadorNombre }}</p>
        <p class="card-text">Repartido entre: {{ gasto.repartirentre | pagadorNombre }}</p>
      </div>
    </div>
  </div>
</div>
