.card {
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border: 1px solid red;
}

.button {
  border-radius: 50%;
  background-color: red;
}

.table-responsive {
  overflow-x: auto;
}

.flex-row {
  display: flex;
  justify-content: space-between; /* Distribuye el espacio uniformemente */
  align-items: center; /* Centra los elementos verticalmente */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan si no hay suficiente espacio */
}

.card-text {
  margin-right: 10px; /* Añade un poco de margen entre los textos */
  white-space: nowrap; /* Evita que los textos se dividan en varias líneas */
  background-color: gray;
}
