$root-background-color: white;
$primary-background-color: #D6D6D6;
$dark-background: #77787f;
$accent-color: #568ea3;
$accent-alternate: #EA7317;

$secondary-color: #168AAD;
$secondary-color-dark: #B5E48C;
$text-color: #ffffff;
$secondary-text-color: #000000;
$error-color: #ff0000;
$background-white: #faf9f9;
$disabled-color: #f0f0f0;
$invalid-color: #f9cad6;

// Variables para hover y efectos
$hover-bg: lighten($primary-background-color, 10%);
$header-bg: darken($primary-background-color, 5%);

:root {
  --invalid-color: #{$invalid-color};
  --root-background-color: #{$root-background-color};
  --primary-background-color: #{$primary-background-color};
  --dark-background: #{$dark-background};
  --accent-color: #{$accent-color};
}
