.container {
    display: flex;
}

.sidebar {
    flex: 0 0 250px; /* Ajusta según el ancho deseado para el sidebar */
}

.content {
    flex: 1;
}


body {
  margin-top: 50px; /* Ajusta '50px' al tamaño real de tu menú */
}
