<p-toast></p-toast>
<!-- <button type="button" (click)="visibleSidebar = true">Mostrar Menú</button> -->

  <!-- <div class="sidebar">
    <p-sidebar [(visible)]="visibleSidebar" [modal]="modalSidebar">
      <p-menu [model]="items"></p-menu>
    </p-sidebar>
  </div>
   -->

  <div class="card">
    <p-menubar [model]="items"></p-menubar>
  </div>

  <div class="content">
    <div>
      <!-- <p-button
        (click)="visibleSidebar = true"
        icon="pi pi-arrow-right"
      ></p-button> -->
      <h1>{{ title }}</h1>
      <router-outlet></router-outlet>

      <!-- <app-dashboard></app-dashboard>
      <app-formulario-gastos> </app-formulario-gastos>
      <app-lista-gastos></app-lista-gastos> -->

    </div>
  </div>
