:host {
  display: block;
  max-width: 100%;
  max-height: 100%;
  // overflow: auto;
}

// .form-field .p-dropdown {
//   width: 100%; /* o el ancho que prefieras */
// }

.input-comentario {
  width: 50%; /* o el ancho que prefieras */
}


