<!-- bg-[var(--primary-background-color)] -->
<div class="flex flex-col w-full p-10 shadow-md rounded-lg content-div">
  <form
    #nombreFormulario="ngForm"
    (ngSubmit)="nombreFormulario.valid && handleAction()"
    class="w-full"
  >
    <!-- Título -->
    <div class="flex flex-wrap mb-4">
      <label for="titulo" class="md:w-1/6 pr-4 flex items-center justify-end text-right">Titulo:</label>
      <div class="md:w-2/3">
        <input
          class="w-full px-3 py-2 border rounded-md"
          placeholder="Titulo del gasto"
          pInputText
          id="titulo"
          aria-describedby="titulo-help"
          name="titulo"
          [(ngModel)]="nuevoGasto.titulo"
        />
      </div>
    </div>

    <!-- Categoría -->
    <div class="flex flex-wrap mb-4">
      <label for="categoria" class="md:w-1/6 pr-4 flex items-center justify-end text-right">Categoria:</label>
      <div class="md:w-2/3">
        <p-dropdown
          name="categoria"
          filterBy="label"
          dataKey="value"
          optionLabel="label"
          [options]="categorias"
          [(ngModel)]="nuevoGasto.categoria"
          [filter]="true"
          [showClear]="true"
          filterPlaceholder="Buscar"
          id="categoria"
          appendTo="body"
          [required]="true"
        >
        </p-dropdown>
      </div>
    </div>

    <!-- Valor -->
    <div class="flex flex-wrap mb-4">
      <label for="valor" class="md:w-1/6 pr-4 flex items-center justify-end text-right">Valor:</label>
      <div class="md:w-2/3">
        <p-inputNumber
          id="inputvalor"
          name="valor"
          [(ngModel)]="nuevoGasto.valor"
          (onInput)="onInputChange($event)"
          [style]="{ width: '100%' }"
          currencyDisplay="symbol"
          [ngClass]="{ 'ng-invalid ng-dirty': !isAmountValid }"
          locale="es-AR"
        ></p-inputNumber>
      </div>
    </div>

    <!-- Fecha -->
    <div class="flex flex-wrap mb-4">
      <label for="fecha" class="md:w-1/6 pr-4 flex items-center justify-end text-right">Fecha:</label>
      <div class="md:w-2/3">
        <p-calendar
          id="fecha"
          name="fecha"
          [required]="true"
          [(ngModel)]="nuevoGasto.fecha"
          [showButtonBar]="true"
          [style]="{ width: '100%', height: '2.6rem' }"
        ></p-calendar>
      </div>
    </div>

    <!-- Pagado por -->
    <div class="flex flex-wrap mb-4">
      <label id="labelpagador" class="md:w-1/6 pr-4 flex items-center justify-end text-right">Pagado por:</label>
      <div class="md:w-2/3">
        <p-selectButton
          [options]="peopleOptions"
          name="pagador"
          [(ngModel)]="nuevoGasto.pagador"
          optionLabel="name"
          optionValue="id"
          required
        ></p-selectButton>
      </div>
    </div>

    <!-- Repartir entre -->
    <div class="flex flex-wrap mb-4">
      <label id="lbl-repartirentre" class="md:w-1/6 pr-4 flex items-center justify-end text-right">Repartir entre:</label>
      <div class="md:w-2/3">
        <p-selectButton
          [options]="peopleOptionsall"
          name="repartirentre"
          [(ngModel)]="nuevoGasto.repartirentre"
          optionLabel="name"
          optionValue="id"
          required
        ></p-selectButton>
      </div>
    </div>

    <!-- Botón submit -->
    <div class="flex flex-wrap mb-4">
      <div class="md:w-1/6"></div>
      <div class="md:w-2/3">
        <button
          type="submit"
          class="px-4 py-2 text-white rounded hover:bg-green-700"
        >
          {{ btnInputText }}
        </button>
      </div>
    </div>
  </form>
</div>
