<form #nombreFormulario="ngForm" (ngSubmit)="nombreFormulario.valid && agregarGasto()">
  <!-- <div class="form-group row">
    <label for="periodo" class="col-md-2 col-form-label">Periodo:</label>
    <div class="col-md-4"> 
      <select id="periodo" name="periodo" class="form-control form-control-sm" [(ngModel)]="nuevoGasto.periodo" required>
        <option value="OCTO2023">OCTO2023</option>
        <option value="NOVI2023">NOVI2023</option>
        <option value="DICI2023">DICI2023</option>
      </select>
    </div>
  </div> -->

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Fecha:</label>

    <div class="col-md-2">
      <!-- Ajusta el ancho aquí según tus necesidades -->
      <p-calendar
        id="fecha"
        name="fecha"
        [required]="true"
        [(ngModel)]="nuevoGasto.fecha"
        [showButtonBar]="true"
      ></p-calendar>
    </div>
  </div>

  <div class="form-group row">
    <label id="labelpagador" class="col-md-2 col-form-label"
      >Quién hizo el gasto:</label
    >
    <div class="col-md-4">
      <p-selectButton
        [options]="peopleOptions"
        name="pagador"
        [(ngModel)]="nuevoGasto.pagador"
        optionLabel="name"
        optionValue="id"
        required
      ></p-selectButton>
    </div>
  </div>


  <!-- [required]="true" -->
  <!-- le quité el requried cuando agregué el evento con onInputChange y la propiedad isAmountValid -->
  <div class="form-group row">
    <label for="valor" class="col-md-2 col-form-label">Valor:</label>
    <div class="col-md-2">
      <p-inputNumber
        name="valor"
        [(ngModel)]="nuevoGasto.valor"
        (onInput)="onInputChange($event)"
        inputId="currency-ar"
        currencyDisplay="symbol"
        mode="decimal"
        currency="ARG"
        [ngClass]="{ 'ng-invalid ng-dirty': !isAmountValid }"
        locale="es-ES"
      >
      </p-inputNumber>
      <p *ngIf="!isAmountValid" class="text-red-500">
        El valor es requerido
      </p>
    </div>
  </div>

  <div class="form-group row">
    <label for="categoria" class="col-md-2 col-form-label">Categoria:</label>
    <div class="col-md-2">
      <p-dropdown
        name="categoria"
        [options]="categorias"
        [(ngModel)]="nuevoGasto.categoria"
        optionLabel="etiqueta"
        optionValue="valor"
        [filter]="true"
        filterBy="etiqueta"
        dataKey="valor"
        [showClear]="true"
        placeholder="Elige una categoria"
      >
      </p-dropdown>
    </div>
  </div>

  <div class="form-group row">
      <label htmlFor="comentario">Comentario</label>
      <input pInputText id="comentario" aria-describedby="comentario-help" name="comentario" [(ngModel)]="nuevoGasto.comentario" />
      <small id="comentario-help">Enter your comentario.</small>
  </div>

  <button type="submit" class="btn btn-danger">Agregar Gasto</button>
</form>
